<div class="mb-3">
  <label for="colorFilter" class="form-label">Renk Ara</label>
  <input
    type="text"
    class="form-control"
    id="colorFilter"
    placeholder="Arama ifadesi giriniz"
    [(ngModel)]="filterText"
  />
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Renk Adı</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let color of colors | colorFilter: filterText">
      <td>{{ color.id }}</td>
      <td>{{ color.name }}</td>
    </tr>
  </tbody>
</table>
