<div class="card h-100" (click)="navigateToCarDetailPage()">
  <img
    [src]="carDetail.imagePaths[0].imagePath"
    class="card-img-top"
    height="200"
  />
  <p
    class="badge bg-color position-absolute fs-5"
    style="right: 0px; top: 10px"
  >
    {{ carDetail.dailyPrice }} ₺
  </p>
  <div class="card-body row">
    <div class="col-12">
      <p class="text-center text-nowrap">
        <b>{{ carDetail.name }}</b>
      </p>
    </div>
    <hr />
    <div class="col-6">
      <p class="card-text">
        <img src="assets/images/icons/orange/car.png" style="width: 25%" />
        {{ carDetail.brandName }}
      </p>
    </div>
    <div class="col-6">
      <p class="card-text">
        <img src="assets/images/icons/orange/model.png" style="width: 25%" />
        {{ carDetail.modelYear }}
      </p>
    </div>
    <hr class="mt-3" />
    <div class="col-6">
      <p class="card-text">
        <img src="assets/images/icons/orange/gearBox.png" style="width: 25%" />
        {{ carDetail.gearTypeName }}
      </p>
    </div>
    <div class="col-6">
      <p class="card-text">
        <img src="assets/images/icons/orange/gas.png" style="width: 25%" />
        {{ carDetail.fuelTypeName }}
      </p>
    </div>
  </div>
</div>
