<div id="features" class="row bg-light text-dark py-5 rounded-3">
  <div class="col-12 mb-4">
    <h1 class="text-center display-6 text-uppercase">Hizmetlerimiz</h1>
  </div>
  <div class="col-12 col-md-4">
    <div class="text-center">
      <i class="bi bi-credit-card fs-1 text-info"></i>
      <h2>Kapıya Bırak, Kapıdan Al</h2>
      <br />
      <p>
        Kiraladığınız aracı kira tarihinde bize bildirdiğiniz adrese bırakıp
        aynı adresten teslim alıyoruz.
      </p>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="text-center">
      <i class="bi bi-arrow-repeat fs-1 text-success"></i>
      <h2>Virüsten Korkma!</h2>
      <br />
      <p>
        Her kira bitimi sonunda araçlarımızı anlaşmalı firmalar ile özel
        dezenfekte ettiriyoruz.
      </p>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="text-center">
      <i class="bi bi-info-circle-fill fs-1 text-info"></i>
      <h2>7/24 Hızlı Yol Yardımı</h2>
      <br />
      <p>
        Biz araçlarımıza güveniyoruz ancak herhangi bir teknik arıza sebebiyle
        yol yardımı için sizden ücret talep etmiyoruz.
      </p>
    </div>
  </div>
</div>
