

.bg-color,
.active {
  background-color: var(--bgColor) !important;
}

.form-label {
  color: var(--bs-light);
}

table {
  background-color: var(--bs-light);
}

th {
  color: var(--bs-light);
}

td {
  color: var(--bs-light);
}
