

.bg-color{
  background-color: var(--bs-warning) !important;
}
button.active{
  background-color: var(--bs-warning) !important;
}

.form-label {
  color: var(--bs-light);
}

table {
  background-color: var(--bs-light);
}

th {
  color: var(--bs-light);
}

td {
  color: var(--bs-light);
}
