:root {
  --nav-bgColor: #d01818;
  --textColor: var(--bs-light);
}

.btn:focus {
  box-shadow: none !important;
}

.textColor {
  color: var(--textColor);
}

.backColor {
  background-color: var(--bgColor);
}
