<form
  [formGroup]="colorAddForm"
  class="row w-sm-100 w-75 mx-auto"
  (ngSubmit)="addColor()"
>
  <div class="col-12 mb-3">
    <label for="colorNameInput" class="form-label">Renk Adı</label>
    <input
      type="text"
      class="form-control"
      id="colorNameInput"
      formControlName="name"
      placeholder="Renk Adı"
    />
    <div *ngIf="colorName?.invalid && colorName?.touched">
      <div *ngIf="colorName?.errors?.required">
        <p class="text-danger">Renk Adı gereklidir.</p>
      </div>
      <div *ngIf="colorName?.errors?.minlength">
        <p class="text-danger">Renk Adı 2 karakterden uzun olmalıdır.</p>
      </div>
      <div *ngIf="colorName?.errors?.maxlength">
        <p class="text-danger">Renk Adı 50 karakterden kısa olmalıdır.</p>
      </div>
    </div>
  </div>
  <div class="col-12 text-center">
    <button class="btn btn-warning text-dark w-25" [disabled]="colorAddForm.invalid">Kayıt Et</button>
  </div>
</form>
