<div class="row">
  <div class="col-md-3">
    <app-car-card
      *ngIf="carDetailDto"
      [carDetail]="carDetailDto"
    ></app-car-card>
  </div>
  <div class="col-md-9 mt-2 row">
    <!-- <div class="h-50 overflow-auto">
      <app-customer-list-with-table
        (selectedCustomer)="setCustomerDetailDto($event)"
      ></app-customer-list-with-table>
    </div> -->

    <div class="col-12 col-md-6 mb-3">
      <label for="rentalStartDateTime" class="form-label"
        >Kira Başlangıç Tarihi</label
      >
      <input
        type="datetime-local"
        class="form-control"
        id="rentalStartDateTime"
        [(ngModel)]="rentDate"
        min="{{ dateTimeNow | date: 'YYYY-MM-ddThh:mm' }}"
      />
    </div>
    <div class="col-12 col-md-6 mb-3">
      <label for="rentalEndDateTime" class="form-label"
        >Kira Bitiş Tarihi</label
      >
      <input
        type="datetime-local"
        class="form-control"
        id="rentalEndDateTime"
        [(ngModel)]="returnDate"
        min="{{ rentDate | date: 'YYYY-MM-ddThh:mm' }}"
      />
    </div>
    <div class="text-center text-md-start">
      <button class="btn btn-warning text-dark w-25" (click)="create()" [disabled]="getValidateStatusForButton()">Kayıt Et</button>
    </div>
  </div>
</div>
<button
  id="showLoginModal"
  class="invisible"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  data-bs-whatever="@mdo"
></button>
<app-login-with-modal></app-login-with-modal>
