<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span class="btn navbar-brand text-light">{{ navText }}</span>
    <button
      class="navbar-toggler bg-light"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngFor="let nav of navs" class="nav-item">
          <button
            class="nav-link btn text-light hvr-underline-from-center"
            aria-current="page"
            routerLink="{{ nav.route }}"
            >{{ nav.title }}</button
          >
        </li>
        <li *ngFor="let dropDownNav of dropDownNavs" class="nav-item dropdown">
          <button
            class="nav-link btn dropdown-toggle text-light hvr-underline-from-center"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ dropDownNav.title }}
        </button>
          <ul class="dropdown-menu p-0" aria-labelledby="navbarDropdown">
            <li>
              <button
                class="nav-link btn dropdown-item hvr-underline-from-left text-light"
                *ngFor="let childNav of dropDownNav.childNavs"
                routerLink="{{ childNav.route }}"
                >{{ childNav.title }}</button
              >
            </li>
          </ul>
        </li>
      </ul>
      <div class="d-flex">
        <app-navbar-in-user></app-navbar-in-user>
      </div>
    </div>
  </div>
</nav>
<app-login-with-modal></app-login-with-modal>