<div class="container">
  <div class="row">
    <div class="col-md-3">
      <br />
      <div id="filterElements" class="row">
        <div class="col-md-12">
          <label for="colorSelect" class="form-label d-block"
            >Renk Seçimi</label
          >
          <select
            [(ngModel)]="selectedColor"
            class="form-select"
            id="colorSelect"
          >
            <option *ngFor="let color of colors">{{ color.name }}</option>
          </select>
        </div>
        <div class="col-md-12 mt-1">
          <label for="colorSelect" class="form-label d-block"
            >Marka Seçimi</label
          >
          <select
            [(ngModel)]="selectedBrand"
            class="form-select d-inline-block"
            id="colorSelect"
          >
            <option *ngFor="let brand of brands">{{ brand.name }}</option>
          </select>
        </div>
        <div class="col-md-12 mt-3">
          <a
            class="btn btn-success w-100"
            (click)="filter()"
          >
            Filtrele
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
