<form [formGroup]="brandUpdateForm" (ngSubmit)="updateBrand()" class="row w-sm-100 w-75 mx-auto">
  <div class="col-12">
    <div class="mb-3">
      <label for="brandNameInput" class="form-label">Marka Adı</label>
      <input
        type="text"
        class="form-control"
        id="brandNameInput"
        formControlName="name"
        [ngModel]="brand.name"
      />
    </div>
  </div>
  <div class="col-12 text-center">
    <button class="btn btn-primary w-25">Düzenle</button>
  </div>
</form>
