<form
  [formGroup]="brandAddForm"
  class="row w-sm-100 w-75 mx-auto"
  (ngSubmit)="addBrand()"
>
  <div class="col-12 mb-3">
    <label for="brandNameInput" class="form-label">Marka Adı</label>
    <input
      type="text"
      class="form-control"
      id="brandNameInput"
      formControlName="name"
      placeholder="Marka Adınız"
    />
    <div *ngIf="name?.invalid">
      <div *ngIf="name?.errors?.required">
        <p class="text-danger">Marka Adı gereklidir.</p>
      </div>
      <div *ngIf="name?.errors?.minlength">
        <p class="text-danger">Marka Adı 2 karakterden uzun olmalıdır.</p>
      </div>
      <div *ngIf="name?.errors?.maxlength">
        <p class="text-danger">Marka Adı 50 karakterden kısa olmalıdır.</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-12 text-center">
    <button class="btn btn-primary w-25">Kayıt Et</button>
  </div>
</form>
