<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Marka Adı</th>
      <th>Müşteri</th>
      <th>Kiralama Tarihi</th>
      <th>Teslim Alma Tarihi</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rentalDto of rentalDtos">
      <td>{{ rentalDto.id }}</td>
      <td>{{ rentalDto.brandName }}</td>
      <td>{{ rentalDto.customer }}</td>
      <td>{{ rentalDto.rentDate | date: "dd/MM/yyyy hh:mm" }}</td>
      <td>{{ rentalDto.returnDate | date: "dd/MM/yyyy hh:mm" }}</td>
    </tr>
  </tbody>
</table>
