<div class="table-responsive">
  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Araç</th>
        <th>Müşteri</th>
        <th>Fiyat</th>
        <th>Kira Başlangıç Tarihi</th>
        <th>Kira Bitiş Tarihi</th>
        <th>Ödenme Durumu</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rentalDto of rentalDtos">
        <td>{{ rentalDto.id }}</td>
        <td>{{ rentalDto.carName }}</td>
        <td>{{ rentalDto.customer }}</td>
        <td>{{ rentalDto.price }} ₺</td>
        <td>{{ rentalDto.rentDate | date: "dd/MM/yyyy hh:mm" }}</td>
        <td>{{ rentalDto.returnDate | date: "dd/MM/yyyy hh:mm" }}</td>
        <td>
          <p [class]="getRentalPaidStatuClass(rentalDto)">
            {{ rentalDto.isPaid.toString() | i18nSelect: paidStatuMap }}
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
