<ul class="list-group list-group-flush">
  <li
    class="list-group-item"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/car/list/color/card"
  >
    Tüm Renkler
  </li>
  <li
    *ngFor="let color of colors"
    class="list-group-item"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/car/list/color/card"
    [queryParams]="{ colorName: color.name }"
    (click)="setCurrentColor(color)"
  >
    {{ color.name }}
  </li>
</ul>
