<div class="mb-3">
  <label for="colorFilter" class="form-label">Otomobil Ara</label>
  <input
    type="text"
    class="form-control"
    id="colorFilter"
    placeholder="Arama ifadesi giriniz"
    [(ngModel)]="filterText"
  />
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Marka Adı</th>
      <th>Renk Adı</th>
      <th>Model Yılı</th>
      <th>Günlük Fiyat</th>
      <th>Açıklama</th>
      <th>Aksiyonlar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let carDetail of carDetails | carFilter: filterText">
      <td>{{ carDetail.id }}</td>
      <td>{{ carDetail.brandName }}</td>
      <td>{{ carDetail.colorName }}</td>
      <td>{{ carDetail.modelYear }}</td>
      <td>{{ carDetail.dailyPrice }}</td>
      <td>{{ carDetail.description }}</td>
      <td>
        <a
          type="button"
          class="btn btn-dark btn-sm"
          routerLink="/carUpdateWithForm/{{ carDetail.id }}"
          ><i class="bi bi-pencil-square"></i> Güncelle</a
        >
      </td>
    </tr>
  </tbody>
</table>
